.header {
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($medBlue, transparent);
    &.fade-in {
      display: block;
    }
    &.fade-out {
      display: block;
    }
  }

  nav {
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    position: relative;
    background-color: $white;
  }
  &__logo {
    img {
      width: 13rem;
      @include breakpoint-up(large) {
        width: 15rem;
      }
    }
  }
  &__toggle {
    //mobile toggle
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: $opacityTransition;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: $greenGradient;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }
      &:hover {
        color: $darkBlue;
        &::before {
          background: $greenGradient;
          opacity: 1;
        }
      }
    }
  }
  &__menu {
    position: absolute;
    background: $white;
    padding: 1.625rem;
    border-radius: 5px;
    width: calc(100% - 3rem);
    margin-top: 1.5rem;
    left: 50%;
    transform: translate(-50%);

    a {
      color: $darkBlue;
      text-transform: uppercase;
      padding: 0.624rem;
      display: block;
      color: $darkBlue;
      text-align: center;
    }
  }
}
