// Colors
$medBlue: #0081cb;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Size
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.875rem;
$font-xlg: 3.25rem;

$colors: (
  home: #d16e8d,
  about: #ffac83,
  contact: #3f78c9,
  courses: #49c4a3,
  "white": #fff,
);

@debug map-get($colors, home);
@debug map-has-key($colors, about);
@debug map-remove($colors, about);
@debug map-merge(
  $colors,
  (
    job: "#000",
  )
);

.test-btn {
  background-color: map-get($colors, contact);
  color: map-get($colors, about);
}

$greenGradient: linear-gradient(to right, $limeGreen, $brightCyan);

// transition
$opacityTransition: all 300ms ease-in-out;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thinkness: 1px;
$base-border-radius: 100px;

// Box-shadow
$base-box-shodow: 1px 3px 5px rgba(0, 0, 0, 0.1);
